.border {
  border-style:dotted;
  background-color:LightGray;
}

.Banner-orange-chicken{
  width:30%;
}

p {
	text-align:center;
	size:100%;
}

.OrangeChickenSauce{
  width:30%;
}

ul {
	font-size:calc(2.0vw + 15px);
}

.border-solid {
  border-style:solid;
}

#blurred-kitchen-back {
	background-image: url('blurred-kitchen.jpg');
	background-repeat: repeat;
	background-size:100.0vw;
	background-attachment:fixed;
}

.border-dotted {
  border-style:dotted;
  background-color:LightGray;
  font-size:2.0vw;
}


#info1-background {
	background-image: url('info1-background.jpg');
	background-repeat: repeat;
	background-size:100.0vw;
	background-attachment:fixed;
}

.centered-image {
  display: flex;
  justify-content: center;
}

#OC-background {
	background-image: url('chickens-orange.jpg');
	background-repeat: repeat;
	background-size:100.0vw;
	background-attachment:fixed;
}

#Centered-text-and-readable {
	text-align:center;
	border-top-style:solid;
	border-right-style:solid;
	border-left-style:solid;
	border-bottom-style:none;
	font-size:2.0vw;
	background-color:orange;
}
